* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $black;
  font-family: $font-family-normal;
}

ul {
  list-style: none;
  padding-left: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
